//Imports
@import url('https://fonts.googleapis.com/css?family=Days+One|Roboto:400,700|Shadows+Into+Light|Nunito:400,700|Architects+Daughter');

// Fonts
$main: 'Roboto';
$description: 'Nunito';
$title: 'Days One';
$sketch: 'Shadows Into Light';
$note: 'Architects Daughter';




// Colours
$greyBlue: #324e6c;
$ltBlue: #5e99d7;
$orange: #e78a00;
$green: #18a800;
$white: #fff;
$black: #000;
$faded: rgba(#000000, 0.6);
$drkfaded: rgba(#000000, 0.85);

// Layout Sizes
$cutoff: 43em;

$sizes: 8.333% 16.666% 25% 33.333% 41.666% 50% 58.333% 66.666% 75% 83.333% 91.666% 100%;
