/**
 *
 *      CRM Styling - Copyright Tom Chadwick 2017
 *
 **/


/**
 *
 *      [1] - Imports
 **/

//Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,700');
//Icons
@import url('https://use.fontawesome.com/13bf5268a0.js');

/**
 *
 *      [2] - Variables
 *
 **/

// Colours

// Colours Taken from Client Site
$bg: #474e56; // Dark Background
$ltbg: #f5f5f5; //Light Background -- Passes WCAG AAA
$beige: #CDA775;  //Beige

//Colours Added for Accessibility
$borderBeige: #aa824d; // Darker Colour for Borders (Against White BG)
$textBeige: #645034; // Passes WCAG AAA

//Generic Colour Variables
$white: #fff;
$black: #000;
// Fonts
$title: 'Roboto', sans-serif;
$text: 'PT Serif', serif;

/**
 *
 *      [3] - Global Styling
 *
 **/

 // Round off borders of all elements
* {
  border-radius: 5px;
}

// Widen the Container
.container {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

// Table Styling
table {
    font-family: $text;
    font-size: 120%;
    width: 100%;
    border-collapse: collapse;
}

.table>tbody>tr>td {
  vertical-align: middle;
  border-bottom: 2px solid $borderBeige;
}

// 'Zebra Stripe' for Rows
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
th {
  background: $bg;
  color: white;
  font-weight: bold;
  border-radius: 0;
}
td, th {
    padding: 12px;
    text-align: left;
}

// Headings

h1, h2, h3 {
    font-family: $title;
    background-color: $bg;
    color: $white;
    margin-bottom: 1em;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    padding: 32px;
}

// Navigation Styling
.navbar {
    background-color: $bg;
    font-family: $title;
    border: none;
    border-radius: 0;
    margin: 0;
}

.navbar-default
.navbar-brand {
    color: $white;
    &:hover {
      color: $beige;
    }
}


.navbar-default
.navbar-nav li a {
    color: $white;
    text-align: left;
}

.navbar-default
.navbar-nav li a:hover {
    color: $beige;
    font-size: 120%;
}

.navbar-nav>li>.dropdown-menu {
  background-color: $bg;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: $beige;
    color: $bg;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: $beige;
    color: $bg;
}

//Button and Link Styling

.btn-primary {
    background-color: transparent;
    width: 30%;
    font-size: 150%;
    padding: 12px;
    color: $bg;
    margin-bottom: 10px;
    margin-right: 10px;
    border-bottom: 4px solid $black;
    border-left: 1px solid $black;
    border-right: 4px solid $black;
    border-top: 1px solid $black;
}

.btn-primary:hover{
    background-color: $white;
    border-bottom: 4px solid $black;
    border-left: 1px solid $black;
    border-right: 4px solid $black;
    border-top: 1px solid $black;
    color: $bg;
    .text-warning {
      color: $beige;
    }
}


.btn-primary:active{
    background-color: $bg;
    border: 2px solid $bg;
    color: $white;
    .text-warning {
      color: $white;
    }
}

.btn-primary:focus{
    background-color: $bg;
    border: 2px solid $bg;
    color: $white;
    .text-warning {
      color: $white;
    }
}


a {
    padding: 12px;
    background-color: transparent;
    color: $textBeige;
    border-radius: 8px;
    font-family: $title;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

a:hover {
    background-color: $bg;
    color: $white;
    text-decoration: none;
    .text-warning {
      color: $white;
    }
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: $bg;
}
// Use Same Styling of Main Buttons for the Login Button
input[type=submit] {
    @extend .btn-primary;
}


// Indvidual View Pages

.panel {
  border: none;
}

.panel-body, .list-group {
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 4px solid $borderBeige;
  border-top: none;
}

.panel-default>.panel-heading {
  background-color: $bg;
  color: $white;
}

.panel-heading {
  background-color: $bg;
  border-radius: 0;
  border: none;
}

.list-group-item {
  background-color: $ltbg;
  border: 2px solid $borderBeige;
}
.list-group-item:nth-child(odd) {
  background-color: $white;
}

.panel a {
  border-radius: 20px;
  color: $black;
  border-left: 1px solid $bg;
  border-right: 1px solid $bg;
  border-top: 1px solid $bg;
  border-bottom: 4px solid $bg;
}

.panel a:hover {
  background-color: $bg;
  color: $white;
}

.panel a:active {
  background-color: $bg;
  color: $white;
  border: 4px solid $beige;
  text-decoration: none;
}


// 'Back' Button Styling
a[href="javascript:history.back()"] {
  @extend .btn-primary;
  margin: 12px;
  max-width: 15%;
}


// Login Form Styling
form {
  width: 100%;
  text-align: center;
  input {
    width: 30%;
    padding: 5px;
    margin: 2px;
    border: 2px solid $bg;
    &[type="checkbox"] {
      width: auto;
    }
    &[type="submit"] {
      width: 15%;
    }
  }
}


/**
 *
 *      [4] - Mobile Styling
 *
 **/

@media screen and (max-device-width: 43em) {  //Mobile

  // Apply a Padding which prevents mobile navigation from covering content
  html {
    padding-bottom: 75px;
  }

  // Remove space around headings
  h1, h2, h3 {
    margin-top: 0;
  }


  // Responsive Table -- Adapted fromhttp://allthingssmitty.com/2016/10/03/responsive-table-layout/


  /*

      This will hide the table headers and make the rows act as columns with field labels. This structure makes the tables and their content fit on a mobile device better.


  */

  .container {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding-left: 0px;
      padding-right: 0px;
  }
  table {
      font-size: 18pt;
      margin-top: 60px;
      table-layout:fixed
  }
  // Center and Increase size of Icons
  .glyphicon {
      font-size: 30px;
      vertical-align: middle;
  }

  table thead {
    border: none;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    border: none;
  }

  table td {
    display: block;
    text-align: right;
    padding: 0;
    border: none;
    word-wrap: break-word;
  }

  td, th {
      font-size: 100%;
  }

  .table>tbody>tr>td {
    border: none;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-align: left;
    width: 100%;
    background-color: $bg;
    color: $white;
    font-family: $title;
    padding-left: 4px;
  }
  .table tbody tr td {
    padding: 0;
  }

  // Styling for Buttons in the Tables
  .tblButton {
    width: 33.333%;
    text-align: center;
    float: left;
  }


  table tbody tr td.tblButton {
    padding-top: 0px;
    padding-bottom: 50px;
    border-bottom: 4px solid $textBeige;
    border-radius: 0;
    a {
      border-bottom: 4px solid $black;
      border-left: 1px solid $black;
      border-right: 4px solid $black;
      border-top: 1px solid $black;
      margin-top: 10px;
      min-width: 100px;
      max-width: 100px;
    }
  }

  // Styling for Links on the Individual View Pages
  .container .btn, .panel-body a {
      font-size: 16pt;
      color: $bg;
  }
  .container a.btn:active, .panel-default a:active {
      background-color: $bg;
      color: $white;
      .text-warning {
        color: $white;
      }
  }


  //Mobile Navigation Styling, This Takes the Bootstrap design and moves it down to the bottom and restyles it.

  .navbar {
    font-size: 24pt;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    margin: 0;
    width: 100%;
    border: none;
    border-top: 5px solid $borderBeige;
    min-height: 75px;
    .navbar-brand {
      font-size: 20pt;
    }
    .navbar-toggle {
      padding: 18px;

      .icon-bar {
        width: 26px;
        background-color: $white;
        padding-right: 0;
        padding-left: 0;

      }
    }
  }
  // Change colour of active menu button: ;
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $textBeige;
  }

  //Change Hamburger Icon to White
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: $white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:active{
    background-color: $black;
  }
  // Toggle Menu Icon (Hamburger when Collapsed and Cross when Open). Removed this because it made the nav interaction to require 2 taps
  .navbar-default  .navbar-default .navbar-toggle:focus {
    background-color: $bg;
  }
  .navbar-default .navbar-toggle.collapsed:hover, .navbar-toggle:focus {
    background-color: $bg;
  }

  // Back Button Styling
  a[href="javascript:history.back()"] {
    margin: 12px;
    width: 95%;
    max-width: 100%;
  }
  // Login Form Styling
  form {
    font-size: 130%;
    width: 100%;
    input {
      width: 80%;
      &[type="submit"] {
        width: 50%;
      }
    }
    a {
      border: 1px solid $bg;
      margin: 5px;
    }
  }
}
