/**
 *
 *      Style Analysis:
 *
 *          - White Text.
 *          - Titles in Big Capitals Sans Serif.
 *          - Rest of text in serif.
 *          - Text Colour is #474e56 on white bg.
 *              - Same colour is used as dark background.
 *          - Some Areas use $beige.
 *          - Links on white bg are #c99e67.
 *          - Buttons change upon hover, either start with white fill
 *            and dark colour^^ border & text. OR vice-versa.
 *
 *          Notes: Need to look at aria roles and change the focus styling
 *
 **/
/**
 *
 *      [1] - Imports
 **/
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,700");
@import url("https://use.fontawesome.com/13bf5268a0.js");
/**
 *
 *      [2] - Variables
 *
 **/
/**
 *
 *      [3] - Styling
 *
 **/
table {
  font-family: "PT Serif", serif; }

h1, h2, h3 {
  font-family: "Roboto", sans-serif; }

.navbar {
  background-color: #474e56;
  font-family: "Roboto", sans-serif; }

.navbar-default
.navbar-brand {
  color: #ffffff; }

.navbar-default
.navbar-brand:hover {
  color: #CDA775; }

.navbar-default
.navbar-nav li a {
  color: #ffffff; }

.navbar-default
.navbar-nav li a:hover {
  color: #CDA775; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #CDA775;
  color: #474e56; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #CDA775;
  color: #474e56; }

.dropdown-menu {
  background-color: #CDA775;
  color: #ffffff; }

.btn-primary {
  background-color: transparent;
  border: 2px solid #474e56;
  color: #474e56; }

.btn-primary:hover {
  background-color: #474e56;
  border: 2px solid #474e56;
  color: #ffffff; }

table a {
  padding: 12px;
  background-color: transparent;
  color: #aa824d;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-align: center; }

table a:hover {
  background-color: #474e56;
  color: #ffffff;
  text-decoration: none; }
  table a:hover .text-warning {
    color: #ffffff; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #474e56; }

input[type=submit] {
  background-color: transparent;
  border: 2px solid #474e56;
  color: #474e56;
  border-radius: 4px; }

input[type=submit]:hover {
  background-color: #474e56;
  border: 2px solid #CDA775;
  color: #ffffff; }

table {
  width: 100%;
  border-collapse: collapse; }

/* Zebra striping */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff; }

th {
  background: #474e56;
  color: white;
  font-weight: bold; }

td, th {
  padding: 12px;
  text-align: left; }

@media screen and (max-device-width: 43em) {
  h1 {
    font-size: 72pt; }
  .container {
    width: 100%;
    max-width: 100%; }
  table {
    font-size: 52pt;
    margin-top: 200px; }
  .glyphicon {
    font-size: 100px;
    vertical-align: middle; }
  table thead {
    border: none;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  table tr {
    display: block;
    margin-bottom: 3em;
    border: 1px solid #474e56; }
  table td {
    display: block;
    text-align: right;
    padding: 0; }
  table td:before {
    content: attr(data-label);
    float: left;
    text-align: left;
    width: 100%;
    background-color: #474e56;
    color: #ffffff;
    font-family: "Roboto", sans-serif; }
  .table tbody tr td {
    padding: 0; }
  .tblButton {
    width: 33.333%;
    text-align: center;
    float: left; }
  table tbody tr td.tblButton {
    padding-bottom: 2%; }
  .container .btn {
    position: absolute;
    top: 15%;
    right: 2%;
    border-radius: 10%;
    font-size: 56pt;
    background-color: transparent;
    border-left: none;
    border-right: 8px solid #474e56;
    border-bottom: 8px solid #474e56;
    border-top: none;
    color: #474e56; }
  .container .btn:hover {
    border-right: none;
    border-left: 8px solid #474e56;
    border-top: 8px solid #474e56;
    border-bottom: none;
    background-color: #474e56;
    color: #ffffff; } }
